.background-inicio {
    background-color: #f1af5d;
    height: 100vh;
}

.presentacion-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    background-color: #000;
}

.presentacion {
    position: relative;
    width: 90%;
    max-width: 960px;
    background-color: #F1AF5D;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}

.presentacion::before {
    content: '';
    display: block;
    padding-top: 56.25%; /* 16:9 Aspect Ratio */
}

#video-presentacion {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}


.Texto-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.titulo{
    display: flex;
    font-size: 30px;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.texto {
    font-size: 20px;
    margin: 20px;
    padding: 20px;
    text-align: center;
}

/* Media queries para hacer el diseño responsive */
@media (max-width: 1092px) {
    .Post {
        flex-basis: calc(50% - 20px);
    }
}

@media (max-width: 768px) {
    .Post {
        flex-basis: 100%;
    }
    .presentacion {
        width: 95%;
    }
    .PostulacionesHTML{
        width: 95%;
    }
}